bitwise and

In [41]:
a = 10
b = 5

In [42]:
a & b

0

In [43]:
bin(a & b)

'0b0'

bitwise or

In [44]:
a = 10
b = 5

In [45]:
a | b

15

In [46]:
bin(a | b)

'0b1111'

bitwise not

In [47]:
a = 10

In [48]:
~a

-11

In [49]:
bin(~a)

'-0b1011'

bitwise xor

In [50]:
a = 10
b = 11

In [51]:
a ^ b

1

bitwise right shift

In [52]:
a = 15
b = -12

In [53]:
a >> 2

3

In [54]:
b >> 2

-3

bitwise left shift

In [55]:
d  = 3
c = -4

In [56]:
d << 2

12

In [57]:
c << 2

-16

membership operators

In [58]:
a = 'lemi'
b = 'em'

In [59]:
b in a

True

In [60]:
b not in a

False

In [61]:
dict = {1: 'lemi', 2: 'myra'}
1 in dict

True

identity operators

In [62]:
x = 'lemi'
id(x)

1588331197088

In [63]:
id('lemi')

1588331197088

In [64]:
id('Lemi')

1588331027440

In [65]:
x = 10
y = 10
x is y

True

In [66]:
x is not y

False

difference between '==' and 'is' operator

In [67]:
l1 = [1, 2, 3, 4]
l2 = [1, 2, 3, 4]

In [68]:
l1 == l2

True

In [69]:
l1 is l2

False

In [70]:
id(l1)

1588331383424

In [71]:
id(l2)

1588331387712

expressions

In [72]:
x = 44
x + 3

47

constant expression

In [73]:
10 + 44

54

arithmetic expressions

In [74]:
x = 'lemi'
x * 3

'lemilemilemi'

integral expressions

In [76]:
x = 3
y = 4.9
sum = x + int(y)
print(sum)

7

floating point expression

In [77]:
x = 3
y = 4.9
sum = float(x) + y
print(sum)

7.9

relational  expressions

In [78]:
10 < 4

False

logical expressions

In [79]:
(1==1) and (2 < 3)

True

bitwise expressions

In [82]:
13 << 2

52

In [83]:
13 >> 2

3

combinational expressions

In [85]:
x = 12
y = 8
z = x + (y << 3) - y * 4 + x / 4
z

47.0

list comprehension

In [5]:
names = ['Lemi', 'Liben', 'Fita', 'Faye', 'Leul']
l_names = []
for name in names:
    if 'L' in name:
        l_names.append(name)
    else:
        continue
print(l_names)

['Lemi', 'Liben', 'Leul']

In [4]:
names = ['Lemi', 'Liben', 'Fita', 'Faye', 'Leul']
l_names = [name for name in names if 'L' in name]
l_names

['Lemi', 'Liben', 'Leul']

In [6]:
animals = ['tiger', 'lion', 'elephant', 'monkey', 'frog']
f_animals = []
for animal in animals:
    f_animals.append(animal.title())
print(f_animals)

['Tiger', 'Lion', 'Elephant', 'Monkey', 'Frog']

In [12]:
animals = ['tiger', 'lion', 'elephant', 'monkey', 'frog']
k_animals = [animal for animal in animals]
k_animals = [animal.upper()]
k_animals

['FROG']