In [6]:
new = ['i', 'you', 'me', 'us']
new[2]= 'nw'
new

['i', 'you', 'nw', 'us']

In [7]:
for item in new:
    print(item)

i
you
nw
us

In [11]:
for a, b in enumerate(new):
    print(f"Index= {a}, Value = {b} ")

Index= 0, Value = i
Index= 1, Value = you
Index= 2, Value = nw
Index= 3, Value = us

In [12]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l1 + l2

[1, 2, 3, 4, 5, 6]

In [13]:
l1 * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
[2]*10

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [27]:
new = ['i', 'you', 'me', 'us']

In [28]:
new.append('we')
new

['i', 'you', 'me', 'us', 'we']

In [29]:
new.insert(0, 'none')
new

['none', 'i', 'you', 'me', 'us', 'we']

In [39]:
new.insert(6, 'none')
new

['i', 'you', 'me', 'us', 'we', 'mom', 'none', 'dad', 'mom', 'dad']

In [40]:
new.extend(['mom', 'dad'])
new

['i',
 'you',
 'me',
 'us',
 'we',
 'mom',
 'none',
 'dad',
 'mom',
 'dad',
 'mom',
 'dad']

In [41]:
new.remove('none')
new

['i', 'you', 'me', 'us', 'we', 'mom', 'dad', 'mom', 'dad', 'mom', 'dad']

In [49]:
new.pop()

'dad'

In [50]:
new

['i', 'you', 'me', 'us', 'we', 'mom']

In [51]:
new.pop(0)

'i'

In [52]:
new

['you', 'me', 'us', 'we', 'mom']

In [53]:
now = ['i', 'you', 'me', 'us', 'we', 'mom', 'dad', 'mom', 'dad', 'mom', 'dad']
now.index('you')

1

In [54]:
now.count('mom')

3

In [56]:
now.sort()
now

['dad', 'dad', 'dad', 'i', 'me', 'mom', 'mom', 'mom', 'us', 'we', 'you']

In [57]:
now.reverse()
now

['you', 'we', 'us', 'mom', 'mom', 'mom', 'me', 'i', 'dad', 'dad', 'dad']

In [58]:
ng = [1,2,5,4,2,6,8,2,1,8,3,2]
ng.sort()
ng

[1, 1, 2, 2, 2, 2, 3, 4, 5, 6, 8, 8]

In [59]:
nnn = ng.copy()
nnn

[1, 1, 2, 2, 2, 2, 3, 4, 5, 6, 8, 8]

In [60]:
del nnn

In [61]:
ng

[1, 1, 2, 2, 2, 2, 3, 4, 5, 6, 8, 8]

In [62]:
mmm = ng.copy()
mmm.clear()
mmm

[]

In [69]:
mn = [x**2 for x in range(1,10)]
mn

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [67]:
nm = {x : x**2 for x in range(1,10)}
nm

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [71]:
nb = [x for x in range (20) if x%2 == 0]
nb

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [73]:
ab = []
for x in range(30):
    if x%3 == 0:
        ab.append(x)
ab

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [84]:
tp = (0, 2, 4, 6, 8, 10, 12, 14, 16, 18)
l1 = list(tp)
l1.clear()
tp = tuple(l1)
tp

()

In [85]:
tp[0] = 10

TypeError: 'tuple' object does not support item assignment

In [86]:
try:
    tp[0] = 10
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

In [87]:
l3 = (1,2,3)
l4 = (5,6,7)
l3 + l4

(1, 2, 3, 5, 6, 7)

In [88]:
ptp = 1, 2, 3, 'new'
print(ptp, type(ptp))

(1, 2, 3, 'new') <class 'tuple'>

In [91]:
a, b, c, d =ptp
print(a, b, c, d)

1 2 3 new

In [92]:
ptp = 1, 2, 3, 'new'
print(ptp, type(ptp))

(1, 2, 3, 'new') <class 'tuple'>

In [93]:
a, *b =ptp
print(a, b)

1 [2, 3, 'new']

In [97]:
(1,2,)

(1, 2)

In [98]:
a = dict(name = 'mola', age = 12, sex = 'male')
a.keys()

dict_keys(['name', 'age', 'sex'])

In [99]:
a.values()

dict_values(['mola', 12, 'male'])

In [100]:
a['name']

'mola'

In [101]:
a.get('age')

12

In [104]:
a.update(name= 'no')
a

{'name': 'no', 'age': 12, 'sex': 'male'}

In [105]:
a['age']= 2432
a

{'name': 'no', 'age': 2432, 'sex': 'male'}

In [107]:
del a['name']

KeyError: 'name'

In [108]:
a

{'age': 2432, 'sex': 'male'}

In [110]:
a.pop('age')

2432

In [111]:
a

{'sex': 'male'}

In [112]:
del a

In [113]:
a

NameError: name 'a' is not defined

In [115]:
a = dict(name = 'mola', age = 12, sex = 'male')
for b in a.items():
    print(f"{key} : {value}")

NameError: name 'keys' is not defined

In [117]:
st = {1, 2, 3, 4, 5, 6, 7, 8, 9}
st

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [127]:
l1 = (1, 2, 3, 4, 5)
st1 = {2,3,4,5,5, 6,7,8}
stt = set(l1)
stt

{1, 2, 3, 4, 5}

In [128]:
st1 | stt

{1, 2, 3, 4, 5, 6, 7, 8}

In [129]:
st1 - stt

{6, 7, 8}

In [132]:
syw = {x**2 for x in range(-6, 6)}
syw

{0, 1, 4, 9, 16, 25, 36}