In [73]:
greet = {'name' : 'lemi', 'grade': '12'}
greet

{'name': 'lemi', 'grade': '12'}

In [74]:
greet['grade'] = '15'
greet

{'name': 'lemi', 'grade': '15'}

In [75]:
len(greet)

2

In [76]:
greet =dict(name = 'lemi', grade = '12')
greet

{'name': 'lemi', 'grade': '12'}

In [77]:
greet['name']

'lemi'

In [78]:
greet.get('name')

'lemi'

In [79]:
greet['age'] ='66'
greet.keys()

dict_keys(['name', 'grade', 'age'])

In [80]:
greet.values()

dict_values(['lemi', '12', '66'])

In [81]:
greet.items()

dict_items([('name', 'lemi'), ('grade', '12'), ('age', '66')])

In [82]:
greet['age'] ='986'
greet['sex'] ='male'
greet

{'name': 'lemi', 'grade': '12', 'age': '986', 'sex': 'male'}

In [83]:
greet.update({'sex':'female'})
greet

{'name': 'lemi', 'grade': '12', 'age': '986', 'sex': 'female'}

In [84]:
greet.update({'status':'single'})
greet

{'name': 'lemi',
 'grade': '12',
 'age': '986',
 'sex': 'female',
 'status': 'single'}

In [85]:
greet = {'name': 'lemi', 'grade': '12', 'age': '986', 'sex': 'female', 'status': 'single'}
greet

{'name': 'lemi',
 'grade': '12',
 'age': '986',
 'sex': 'female',
 'status': 'single'}

In [86]:
greet.pop('status')

'single'

In [87]:
greet

{'name': 'lemi', 'grade': '12', 'age': '986', 'sex': 'female'}

In [88]:
greet.popitem()

('sex', 'female')

In [89]:
greet

{'name': 'lemi', 'grade': '12', 'age': '986'}

In [90]:
del greet['age']

In [91]:
greet

{'name': 'lemi', 'grade': '12'}

In [92]:
del greet

In [93]:
greet

NameError: name 'greet' is not defined

In [ ]:
greet = {'name': 'lemi', 'grade': '12', 'age': '986', 'sex': 'female', 'status': 'single'}

In [ ]:
greet.clear()

In [ ]:
greet

{}

In [ ]:
greet = {'name': 'lemi', 'grade': '12', 'age': '986', 'sex': 'female', 'status': 'single'}
mim = greet
mim['name'] = 'fita'
mim

{'name': 'fita',
 'grade': '12',
 'age': '986',
 'sex': 'female',
 'status': 'single'}

In [ ]:
greet

{'name': 'fita',
 'grade': '12',
 'age': '986',
 'sex': 'female',
 'status': 'single'}

In [ ]:
aa = {'name': 'lemi', 'grade': '12', 'age': '986', 'sex': 'female', 'status': 'single'}
bb = aa.copy()
bb['name']= 'fita'
bb

{'name': 'fita',
 'grade': '12',
 'age': '986',
 'sex': 'female',
 'status': 'single'}

In [ ]:
aa

{'name': 'lemi',
 'grade': '12',
 'age': '986',
 'sex': 'female',
 'status': 'single'}

In [ ]:
cc = {'name': 'lemi', 'grade': '12', 'age': '986', 'sex': 'female', 'status': 'single'}
dd = dict(cc)
dd['name']= 'fita'
dd

{'name': 'fita',
 'grade': '12',
 'age': '986',
 'sex': 'female',
 'status': 'single'}

In [ ]:
cc

{'name': 'lemi',
 'grade': '12',
 'age': '986',
 'sex': 'female',
 'status': 'single'}

tuples

In [96]:
fine = ('me', 'you','us', 'none')
fine[0] = 'I'

TypeError: 'tuple' object does not support item assignment

In [97]:
fine[0]

'me'

In [99]:
fine = ('me', 'you','us', 'us', 'none')
fine

('me', 'you', 'us', 'us', 'none')

In [103]:
t1 = ('me',)
t1

('me',)

In [104]:
len(fine)

5

In [106]:
mac = tuple(('us', 'us', 'none'))
mac

('us', 'us', 'none')

In [109]:
fine[1:3]

('you', 'us')

In [110]:
fine = ['me', 'you','us', 'us', 'none']
fine[0]='null'
fine

['null', 'you', 'us', 'us', 'none']

In [111]:
fin = ('me', 'you','us', 'us', 'none')

In [112]:
l1 = list(fin)
l1.append('mom')
fin = tuple(l1)
fin

('me', 'you', 'us', 'us', 'none', 'mom')

In [113]:
l1 = list(fin)
l1[2]='dad'
fin = tuple(l1)
fin

('me', 'you', 'dad', 'us', 'none', 'mom')

In [114]:
l1 = list(fin)
l1.remove('none')
fin = tuple(l1)
fin

('me', 'you', 'dad', 'us', 'mom')

In [119]:
del fin

NameError: name 'fin' is not defined

In [117]:
fin

NameError: name 'fin' is not defined

In [1]:
fin = ('me', 'you','us', 'us', 'none')
a, b, c, d, e = fin

In [3]:
d

'us'

In [4]:
fin = ('me', 'you','us', 'us', 'none')
g, h, *i = fin

In [5]:
i

['us', 'us', 'none']

In [6]:
fin = ('me', 'you','us', 'us', 'none')
l, *k, n = fin

In [7]:
k

['you', 'us', 'us']

In [11]:
a = {1:'ad', '2':'gg'}
b = {1:'ad', '2':'gg'}
id(a)

2405242041280

In [12]:
id(b)

2405242228096