In [32]:
x=1
y=2
z = x+y

In [33]:
z

3

In [38]:
m = 65
a = 10
F = m * a

In [37]:
F

650

fita will die

x=1
y=2
z = x+y

In [44]:
r = 5
PI = 3.14
A = PI * r**2

In [45]:
A

78.5

In [46]:
1 + 2 * 3 - 4 / 5 ** 6

6.999744

In [47]:
(3 * 100) / 60

5.0

In [50]:
3 * 100 / 60

5.0

In [51]:
4 / 2 * 8

16.0

In [52]:
4 / (2 * 8)

0.25

In [53]:
4 / 2 / 8

0.25

In [56]:
'lemi' + 'gobena'

'lemigobena'

In [60]:
'play ' * 10

'play play play play play play play play play play '

In [61]:
'2' + '1'

'21'

In [62]:
'lemi' * 'gobena'

TypeError: can't multiply sequence by non-int of type 'str'

In [63]:
'now' * '3'

TypeError: can't multiply sequence by non-int of type 'str'

In [69]:
'''I am inevitable.'''

'I am inevitable.'

In [70]:
"""I am inevitable."""

'I am inevitable.'

In [71]:
99//100

0

In [72]:
99/100.0

0.99

In [73]:
99.0//100

0.0

In [74]:
msg = 'hi' + 'there'

In [75]:
type(msg)

str

In [76]:
msg + 1

TypeError: can only concatenate str (not "int") to str

In [77]:
msg + '1'

'hithere1'

In [78]:
msg + q

NameError: name 'q' is not defined

In [79]:
num = '2' + '1'

In [80]:
type(num)

str

In [82]:
result = int(num) + 1

In [83]:
result

22

In [84]:
type(result)

int

In [85]:
num = 10

In [86]:
float(num)

10.0

In [88]:
int(1.96) + 4

5

In [89]:
str(12) + str(54)

'1254'

In [90]:
mark = 76
percent = (mark / 80) * 100

In [91]:
percent

95.0

This is enough for today.